{% extends "parts/commonPart.html" %}

{% load account %}

{% block head_title %}Сброс пароля{% endblock %}

{% block content %}

    <h1 class="mb-4">Сброс пароля</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль? Введите свой e-mail ниже, и мы вышлем вам код для сброса</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type="submit">Изменить пароль</button>
    </form>

{% endblock %}